*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdf6e3;
  color: #586e75;
  font-family: monospace;
}

#ui {
  background: #eee8d5;
  border: 1px solid #93a1a1;
  padding: 10px;
}

button {
  background: #eee8d5;
  border: 1px solid #93a1a1;
  color: #586e75;
}

button:hover {
  background: #93a1a1;
  color: #fdf6e3;
}